.default {
    border: 0.5px solid #D9D9D9;
    margin: 1px;
    overflow: auto;

    .toggleButton {
        background: #F3F6F9;
        border: none;
        border-radius: 4px;
        display: flex;
        align-items: center;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        color: #404A57 !important
    }
    
    .toggleButton:hover {
        background: #e9ecee !important;
        border: none;
    }
    
    .activeButton {
        background: #F3F6F9 !important;
        border: none;
        padding: 2px;
        font-weight: 600;
    
        span {
            display: block;
            background-color: white;
            width: 100%;
            padding: 7px 24px;
            border: 0.5px solid #D9D9D9;
            border-radius: 2px;
        }
    }
    
    .toggleButton.activeButton:hover {
        background: #F3F6F9 !important;
        cursor: default;
    }
}

.faxes {
    
}