.header {
    background-color: white;
    border-radius: 5px;

    button {
        background-color: inherit !important;
        color: rgb(62, 72, 85) !important;
    }
}

.body {
    background-color: white;
}