.documents-box__controls {
  margin-bottom: 16px;

  .row {
    display: flex;
    align-items: center;
  }

  .checkbox {
    margin-bottom: 0;
  }

  .form-group {
    padding-left: 24px;
  }

  .alert {
    width: 100%;
    margin-bottom: 0;
    padding: 6px 12px;
  }

  .checkbox-toggler {
    input {
      margin-left: -34px;
    }

    label {
      font-weight: 600;
      padding-left: 34px;
    }
  }
}

.collapse-document,
.collapse-appointments {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;

  &.el-collapse {
    border: none;
  }
}

.collapse-document__item,
.collapse-appointments-item {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  border: 1px solid transparent;
  margin-bottom: 16px;
  overflow: hidden;
  transition: border-color 0.2s ease-in;

  .el-collapse-item__header {
    position: relative;
    display: flex;
    align-items: center;
    border: none;
    min-height: 64px;
    height: auto;
    line-height: 1.6;

    cursor: pointer;

    &.is-active {
      border: none;
    }
  }

  .el-collapse-item__content {
    padding-left: 61px;
    padding-right: 24px;
  }

  .el-collapse-item__wrap {
    border-bottom: none;
  }

  .el-collapse-item__arrow {
    position: absolute;
    right: 20px;
    transition: transform .3s,-webkit-transform .3s;
    &.is-active {
      transform: rotate(-180deg);
    }
  }

  &.el-collapse-item:last-child {
    margin-bottom: 16px!important;
  }

  &.el-collapse-item.is-disabled {
    .el-collapse-item__header {
      color: currentColor;
      cursor: auto;
    }

    .el-collapse-item__arrow {
      display: none;
    }
  }

  &.invalid {
    border-color: #a94442;
  }

  &.timesheets-list-item:not(.timesheets-list-item__not-signed) {

    .el-collapse-item__header {
      cursor: pointer;
    }
  }
}

.collapse-document__item-title,
.collapse-appointments-item__title {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  padding: 0 24px;
  color: #303133;

  &.is-show-date {
    width: 100%;
    padding-right: 245px;
  }

  &__date {
    position: absolute;
    right: 85px;
    color: #67c23a;
    @media (max-width: 900px){
      max-width: 150px;
      right: 30px;
    }
  }

  input[type="checkbox"] {
    margin-top: 0;
    margin-right: 24px;
  }
}

.el-collapse-item__content {
  padding-bottom: 25px;
  font-size: 13px;
  color: #303133;
  line-height: 1.769230769230769;
}

.collapse-document__item-form {
  flex-wrap: wrap;

  [class*="col-"] {
    display: flex;
    align-items: center;
  }

  p {
    margin: 0;
    font-weight: 600;
  }

  .form-group.has-error {
    .control-label {
      color: #a94442;
    }

    .form-control {
      border-color: #a94442;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    }
  }

  .checkbox {
    margin-bottom: 30px;

    input {
      //margin-left: -30px;
      margin-top: 0;
    }

    label {
      font-size: 14px;
      font-weight: normal;
      padding-left: 17px;
      display: inline-flex;
      align-items: center;
    }
  }

  .form-control {
    max-width: 68px;
    background-color: #fff;
    text-align: center;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);

    &.long {
      max-width: 272px;
      text-align: left;
    }
  }

  .control-label {
    font-weight: 700;
  }

  &.form-horizontal {
    .control-label {
      text-align: left;
    }
  }

  & + .table-responsive {
    margin-top: 40px;
  }

  .release-field {
    display: flex;
    margin-left: -15px;
    margin-right: -15px;

    label {
      padding-left: 15px;
      padding-right: 15px;
    }

    .form-control {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

.row-inputs {
  display: flex;
  align-items: center;

  .checkbox {
    margin-right: 24px;
    margin-top: 0;

    &:last-child {
      margin-right: 0;
    }
  }
}

.collapse-checkboxes {
  max-height: 0;
  overflow: hidden;
  min-height: 0;
  transition: max-height 0.3s ease-in-out;

  &.open {
    max-height: 200px;
  }
}

.collapse-declined {
  flex-grow: 1;

  &.el-collapse {
    border: none;
  }

  .el-collapse-item__header {
    background-color: transparent;
    border: none;
    height: 22px;
    color: #a94442;
    font-size: 14px;
    font-weight: bold;

    &.focusing:focus:not(:hover) {
      color: #a94442;
    }
  }

  .el-collapse-item__wrap {
    background-color: transparent;
    border: none;
    color: #a94442;
  }

  .el-collapse-item__content {
    padding-bottom: 0;
    padding-top: 12px;
    font-size: 14px;
    color: #a94442;
    line-height: 1.3;
  }

  .el-collapse-item__arrow {
    transform: rotate(-90deg);
  }

  .list-declined {
    padding-left: 30px;
    margin-bottom: 0;

    li {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@media (max-width: 767px) {
  .collapse-checkboxes {
    &.open {
      max-height: 200px;
    }
  }
}
